@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    width: 40%;
    margin: 40px auto;
}

.board div {
    border: 2px solid red;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 3em;
}

#0 {
    border-top: none;
    border-left: none;
}

#1 {
    border-top: none;
}

#2 {
    border-top: none;
    border-right: none;
}

#3 {
    border-left: none;
}

#5 {
    border-right: none;
}

#6 {
    border-left: none;
    border-bottom: none;
}

#7 {
    border-bottom: none;
}

#8 {
    border-right: none;
    border-bottom: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}